[data-ddss-component="tab-link"] {
  display: inline-flex;
  position: relative;
  padding: var(--ddss-size-md);
}

.ddss-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--ddss-primary);
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

[data-ddss-tab-link-selected="true"]>.ddss-indicator {
  opacity: 1;
}
