[data-ddss-component="navbar"] {
  position: sticky;
  top: 0;
  z-index: 99;
  padding: var(--ddss-size-md);
}




/* Mobile Navbar */
.navbar-mobile {
  display: none;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .navbar-desktop {
    display: none;
  }

  .navbar-mobile.active {
    display: flex;
  }
}

@media (max-width: 768px) {
  [data-ddss-navbar-el="nav-menu"]>.active {
    position: fixed;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100%;
    flex-direction: column;
    background: white;
    transform: translateX(0);
    opacity: 1;
    z-index: 98;
    padding: 1rem;
  }
}

/* Desktop Navbar */
.navbar-desktop {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 1;
  gap: var(--ddss-size-sm);
}

[data-ddss-navbar-el="nav-menu-end"] {
  display: flex;
  align-items: center;
  gap: var(--ddss-size-xs);
  margin-left: auto;
  transition: transform 0.3s ease, opacity 0.2s ease;
}

[data-ddss-slot="nav-icon-buttons"],
[data-ddss-slot="nav-cta-buttons"] {
  display: flex;
  align-items: center;
  gap: var(--ddss-size-xs);
  margin-left: var(--ddss-size-xs);


}

[data-ddss-navbar-material="glass"] {
  border-bottom: 1px solid var(--ddss-outlinevariant);
}
