[data-ddss-component="dropdown-menu"] {
  position: absolute;
  z-index: 1000;
  transform: scale(0%);

  transition: transform 0.3s ease-out;

  &[data-isactive="true"] {
        transform: scale(100%);
  }

  &[data-ddss-dropdown-trigger-quadrant="top-left"] {
    transform: translate(0%, -100%);
    transform-origin: top left;

  }

  &[data-ddss-dropdown-trigger-quadrant="top-right"] {
    transform: translate(-100%, -100%);
    transform-origin: top right;
  
  }

  &[data-ddss-dropdown-trigger-quadrant="bottom-right"] {
    transform: translate(-100%, 0%);
    transform-origin: bottom right;

  }

  &[data-ddss-dropdown-trigger-quadrant="bottom-left"] {
    transform: translate(0%, 0%);
    transform-origin: bottom left;

  }
}
